<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/Hero.css">
</head>

<body>
    <div class="hero-main">
        <div class="container">
            <h1><span>Duta Dropship</span></h1>
            <span class="desc">Shop by Your Phone</span>
            <a class="button" href="#">Shop Now</a>
        </div>
    </div>

    <div class="hero-footer">
        <div class="hero-left">
            <img src="assets/iklan_left_section.png" alt="">
        </div>

        <div class="hero-right">
            <img src="assets/iklan_right_section.png" alt="">
        </div>
    </div>
</body>

</html>