<nav class="navbar">
    <h3 class="brand">
        DUTA DROPSHIP
    </h3>

    <div class="main-menu">

    <form action="">
     <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
     <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div>

      <input type="text" placeholder="Cari produk" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

        <ul class="menu">

            <li class="menu-item">
                <a href="">Elektronik</a>
            </li>

            <li class="menu-item">
                <a href="">Rumah tangga</a>
            </li>

            <li class="menu-item">
                <a href="">Fashion</a>
            </li>

            <li class="menu-item">
                <a href="">Olah raga</a>
            </li>

            <li class="menu-item">
                <a href="">Otomotif</a>
            </li>

            <li class="menu-item">
                <a href="">Handphone</a>
            </li>

        </ul>
    </div>

    <div class="login-register">
        <button class="btn-masuk">Masuk</button>
        <button class="btn-daftar">Daftar</button>
    </div> 

</nav>

