<div class="produkTerlaris">
        <div class="topBar">
            <h1 class="title">Produk Paling Terlaris</h1>
            <button class="button">view all</button>
        </div>        
        <div class="card">
            <div class="card-item">    
                <img src="/headsetgaming.png" alt="">
                <h3>Headset Gaming</h3>
                <h1>Rp. 250.000</h1>
            </div>
            <div class="card-item">    
                <img src="/macbookpro.png" alt="">
                <h3>Macbook Pro</h3>
                <h1>Rp. 25.000.000</h1>
            </div>
            <div class="card-item">    
                <img src="/tasransel.png" alt="">
                <h3>Tas Ransel</h3>
                <h1>Rp. 150.000</h1>
            </div><div class="card-item">    
                <img src="/dresswanita.png" alt="">
                <h3>Dress Wanita</h3>
                <h1>Rp. 50.000</h1>
            </div>
            <div class="card-item">    
                <img src="/lampubelajar.png" alt="">
                <h3>Lampu Belajar</h3>
                <h1>Rp. 60.000</h1>
            </div>
            <div class="card-item">    
                <img src="/mejatamu.png" alt="">
                <h3>Meja Tamu</h3>
                <h1>Rp. 1.250.000</h1>
            </div>
            <div class="card-item">    
                <img src="/alatmakan.png" alt="">
                <h3>Alat Makan</h3>
                <h1>Rp. 250.000</h1>
            </div>
        </div>
    </div>