@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

.produkTerbaru{
    width: 100vw;
    height: 25vh;
}
.topBar{
    display: flex;
    justify-content: space-between;
}
.produkTerbaru .topBar h1{
    font-size: 2rem;
    margin: 20px 40px;   
    display: flex;
    justify-content: flex-start;
}

.produkTerbaru .topBar button {
    width: 10vw;
    height: 5vh;
    margin: 20px 40px; 
    background: inherit;
    cursor: pointer;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #009688;
    border: 3px solid #009688;
    text-transform: uppercase;
}

.card{
    width: 100vw;
    height: 30vh;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 13vw;
}
.card h1{
    font-size: 1.7rem;
    margin: 0;
    color: red;
}