<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>Gateway}}
</body>
</html>
=======
<h1>TEST</h1>
>>>>>>> e8e8dc3c487e8e8f22374a02d16446d2fad0f33e
